@charset "utf-8";
/*--content nav start--*/
#content{
	width:1200px;
	margin:auto;
	overflow:hidden;
}
#content .c-nav{
	width:1198px;
	height:100px;
	border:1px solid #ccc;
	border-top-color:#fff;
	background:#fff;
}
#content .c-n-first{
	float:left;
	width:290px;
	text-align:center;
	margin-top:15px;
	border-right:1px solid #ccc;
}
#content .c-n-first img{
	display:inline-block;
	width:60px;
	vertical-align:middle;
}
#content .c-n-first .text{
	display:inline-block;
	width:155px;
	vertical-align:middle;
}
#content .c-n-first .text > a{
	display:inline-block;
	padding:2px 5px;
	margin-right:10px;
	margin-top:5px;
	border:1px solid #c03;
	color:#c03;
}
#content .c-n-first .text > a:hover{
	color:#fff;
	background:#c03;
}
#content .c-n-list{
	float:left;
	width:605px;
	height:100px;
	border-right:1px solid #ccc;
}
#content .c-n-list li{
	float:left;
	width:60px;
	height:60px;
	margin:20px 20px 0;
	text-align:center;
}
#content .c-n-list li i{
	display:block;
	width:38px;
	height:38px;
	margin:auto;
	background:url("../../picture/m-log/m-log.png") no-repeat -1px 0px;
}
#content .c-n-notice{
	float:left;
}
#content .c-n-notice div{
	height:50px;
}
#content .c-n-notice div.top{
	border-bottom:1px solid #ccc;
}
#content .c-n-notice div.top a{
	display:inline-block;
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	font-weight:bold;
	font-size:14px;
}
#content .c-n-notice div.top span{
	font-size:14px;
}
#content .c-n-notice div.bottom a{
	position:relative;
	display:inline-block;
	width:98px;
	text-align:center;
	line-height:50px;
	font-size:14px;
}
#content .c-n-notice div.bottom a:before{
	position:absolute;
	content:'';
	width:20px;
	height:15px;
	top:16px;
	left:0px;
	background:url("../../picture/m-log/m-log.png") no-repeat -238px -1px;
}

/*---content nav end---*/

#content .c-pic{
	width:100%;
	margin:12px auto 15px;

}
#content .c-pic ul li{
	float:left;
	height:160px;
	transition:.3s;/*过渡时间*/
}
#content .c-pic ul li:hover{
	box-shadow:0 15px 20px #c8c8c8;
}
#content .c-pic ul li + li{
	margin-left:12px;
}
/*--content pic start--*/

/*--content head common style 相同样式--*/
#content .c-head ul{
	float:left;
}
#content .c-head ul li{
	float:left;
	height:50px;
	line-height:50px;
}
#content .c-head ul li + li{
	margin-left:20px;
	font-size:16px;
}
#content .c-head ul li h2{
	font-weight:lighter;
	font-size:24px;
}
#content .c-head ul li a{
	padding-bottom:2px;
}
#content .c-head ul li a:hover{
	border-bottom:2px solid #c03;
}
#content .c-head p{
	float:right;
	line-height:50px;
	font-size:18px;
	color:#666;
}

/*--content head样式结束--*/

/*--content list 样式--*/

#content .c-list{
	width:100%;
	position:relative;
}
#content .c-list li{
	position:relative;
	float:left;
	text-align:center;
	font-size:14px;
	transition:.3s;
}
#content .c-list li + li{
	width:232px;
	height:255px;
	padding-top:35px;
	margin-left:10px;
	margin-bottom:10px;
	background:#fff;
}
#content .c-list li:hover{
	transform:translateY(-2px);/*向Y轴方向移动负的两个象素*/
	box-shadow:0 5px 15px #ccc;
}
#content .c-list li + li i{
	position:absolute;
	width:48px;
	height:48px;
	top:135px;
	right:45px;
	background:url("../../picture/b-b/hot-sell.png") no-repeat;
}
#content .c-list li img{
	width:134px;
	height:134px;
}
#content .c-list li + li p{
	line-height:25px;
}
#content .c-list i + p{
	color:#222;
}
#content .c-list p.price{
	color:#c03;
}
#content .c-list p.discount{
	color:#c8c8c8;
}
/*--content list end--*/

/*--精品推荐--*/
#content .c-rec ul{
	width:2000px;
	margin-bottom:20px;
}
#content .c-rec .c-list li{
	width:218px;
	margin:0;
}
#content .c-rec .c-list li + li{
	border-right:1px solid #c8c8c8;
}
#content .c-list div.but{
	position:absolute;
	width:23px;
	height:75px;
	top:0;
	bottom:0;
	margin:auto;
	background:rgba(209,209,209,0.5);
	cursor:pointer;
}
#content .c-list div.but:hover{
	background:rgba(209,209,209,.7);
}
#content .c-list div.but:after{
	position:absolute;
	content:'';
	width:11px;
	height:20px;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	margin:auto;
	background:url("../../images/icon-common.png") no-repeat -101px 0;
}
#content .c-list div.c-but-right{
	right:0;
}
#content .c-list div.c-but-right:after{
	background-position:-112px 0;
}
/*--精品推荐结束--*/

/*小轮播*/

#content .c-pic-1{
	position:relative;
	height:123px;
}
#content .c-pic-1 ul.c-pic-banner{
	position:relative;
	margin:27px 0;
}
#content .c-pic-1 ul.c-pic-banner li{
	position:absolute;
}
#content .c-pic-1 ul.c-pic-p{
	position:absolute;
	right:50px;
	bottom:20px;
}
#content .c-pic-1 ul.c-pic-p li{
	float:left;
	width:8px;
	height:8px;
	border:1px solid #fff;
	border-radius:50%;
	margin:2px;
}
/*--小轮播结束--*/

#content .c-phone{
	width:100%;
}
#content .c-list-w ul li{
	width:291px;
}
#content .c-list-w ul li + li{
	margin-left:12px;
	height:312px;
}
#content .c-list-w ul li i{
	right:72px;
	top:150px;
}
#content .c-list-w ul li img{
	width:160px;
	height:160px;
	margin-bottom:40px;
}
